{% extends 'layouts/blank.html' %}
{% block content %}

<div class="w-full py-4 px-8">
    <a href="{% url 'home' %}">&#8592; Back</a>
</div>

<div class="w-full max-w-[40rem] mx-auto block max-w-sm p-6 bg-gray-200 border border-gray-400 rounded-lg shadow hover:bg-gray-100">
    <form method="POST"> 
        {% csrf_token %}
        <p>Are you sure you want to delete this task? "{{task.title}}"</p>
        <input class="button" type="submit" value="Delete"/>
    </form>
</div>

{% endblock content %}